@model Weather.MVC.ViewModels.WeatherIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Check weather forecast around the world!</h3>

@Html.Partial("~/Views/Weather/LocationForm.cshtml")



