@model Weather.MVC.ViewModels.WeatherIndexViewModel

@if (Model != null && Model.HasForecasts)
{
    <div>
        <h2>
            The forecast for @Model.CityName
        </h2>
        @Html.DisplayFor(m => m.Forecasts)
    </div>
}
