body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* customstyles */

.forecastwrapper
{
    display: block;
    float: left;
    width: 120px;
    height: 150px;
    margin-top: 30px;
    padding-top: 10px;
    overflow: hidden;
    text-align: center;
    border: 1px solid gray;
    background: white;
}

.temp 
{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.search 
{
    margin-top: 20px;
}

footer
{
    clear: both;
    padding-top: 20px;
}

#detectionSpan
{
    margin: 20px;
}

#tabsection 
    {
        height: 55px;
    }	
	.ptab 
	{
	    display: inline-block;
	    border: 1px solid #ccc;
	    margin: 15px 0 0 25px;
	    padding: 5px 10px;
	    border-radius: 5px;
	    cursor:pointer;
	    color: #999;
	}	
	    .ptab:hover 
	    {
	        background-color: #eee;
	    }
.oldSearchesBox 
	{
	    border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 30px 0 0 0;
	}
	    .oldSearchesBox h4 
	    {
	        margin-top: 0;
	    }
	    .listOfSearchesUL 
	    {
	        list-style: none;
	        width: 200px;
	        /*border: 1px solid #f00;*/
	    }
	        .listOfSearchesUL li 
	        {
	            text-transform: capitalize;
	            padding: 5px 10px;
	            width: 100%;
	            /*border: 1px solid #f00;*/
	        }
	            .listOfSearchesUL li a 
	            {
	                text-decoration: none;
	                color: #444;
	                width: 100%;
	            }
	                .listOfSearchesUL li a:before {
		                content: "\00BB" "\0020";
		                color: #444;
		            }
	                .listOfSearchesUL li a:hover 
	                {
	                    color: #f24ca2;
	                }

.ui-dialog {
    background-color: lightgoldenrodyellow;
}

.ui-dialog-titlebar {
    background-color: lightgray;
}

#myDialogText {
    margin-left: 5px;
}

#msgwrapper {
    margin-top: 30px;
}